.a {
    transform: scale(1);
    transition: all 0.5s;
    background-color: #4f7df0;   
    color: black;
    padding: 10px;
    margin: 10px;
    border: 5px solid pink;
    border-radius: 15px;
    opacity: 0.9;
    width: 300px;
}
body {
    background-image: url(/WEB/lesson\ 3/background-image);
}
.a:hover {
    transform: scale(1.3);
    background-color: #a75ad1;
    opacity: 0.7;
    box-shadow: 0px 0px 30px #f50000;
    border: 10px solid #dfbce0;
    border-radius: 15px;
    width: 600px;
    margin-left: 100px;
}