a {
    color:green;
    font-size: 18px;
}
div {
    color:#b00707;
    font-size: 17px;
}
strong {
    color: #eb0202;
}
#a1 {
    color: #a1233e;
}
#a2 {
    color:royalblue;
}
.a {
    font-size: 16px;
    font-style: oblique;
    margin: 10px;
    padding: 15px;
}
.a:hover {
    border: 10px solid #ff03d9;
}
.q {
    background-color: #d1c7c7;
    border: 2px solid #ff03d9;
    font-size: 20px;
}
.w {
    background-color: yellow;
    border: 2px solid violet;
    font-size: 18px;

}